
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View doctors</title>
    <link href="{% static 'doctor/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/viewevent.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/card.css' %}">

</head>
<body>
      {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: black">
			<a class="navbar-brand" href="">
        <img src="{% static 'doctor/virus.png'%}" style = " width: 50px; height: auto;"> COVID-X 
      </a>

			<ul class="navbar-nav">
            <a href="" class="nav-link">Are You a Reception?</a>
			</ul>
		</nav>
	</header>
		
		
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
	                </button>
                </div>
	  		        <h1><a href="index.html" class="logo" >User</a></h1>
                    <ul class="list-unstyled components mb-5">
                        <li>
                        <a href="{% url 'doc-dashboard'%}"><span class="fa fa-user mr-3"></span> Dashboard</a>
                        </li>
                        <li class="active">
                            <a href="{% url 'doc-add-patient'%}"><span class="fa fa-plus mr-3"></span> Add Patients</a>
                        </li>
                        <li>
                            <a href="{% url 'doc-view-patient'%}"><span class="fa fa-book mr-3"></span> View Patient</a>
                        </li>
                        <li>
                            <a href="{% url 'covid-detect'%}"><span class="fa fa-book mr-3"></span> Covid Detection</a>
                        </li>
                        <li>
                            <a href="{% url 'doc-prescription'%}"><span class="fa fa-pencil-square-o mr-3"></span> Prescription </a>
                        </li>
                        <li>    
                            <a href=""><span class="fa fa-pencil-square-o mr-3"></span> Logout </a>
                        </li>                     
                    </ul>
    	    </nav>
    <br>

    <div style="margin-left:150px">
    <div class="container mt-5 card" style="background-color:#dcdcdc"><br>
        <h1>Give Prescription</h1>
        <form style="font-size:20px; color:black" class="needs-validation" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id='id'>Patient ID</label>
                    <input type="int" class="form-control" name="p_id" value="{{patient.id}}" readonly required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Patient Name</label>
                <input type="text" class="form-control" name = "name" value="{{patient.name}}" readonly>
            </div>
            <div class="form-group">
                <label for="inputAddress">Contact</label>
                <input type="text" class="form-control" name = "contact" value="{{patient.contact}}" readonly>
            </div>

            <div class="form-group">
            <i class="fas fa-pencil-alt prefix"></i>
                <label for="form10">Prescription</label>
                <textarea id="form10" class="md-textarea form-control" rows="3" name="prescription"></textarea>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Date</label>
                    <input type="date" class="form-control" name='date' >
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <br><br><br>
    </div>
    </div>
    <div style="margin-left:150px">
    <div class="container mt-5 card" style="background-color:#dcdcdc"><br>
    <h1>{{patient.name}}'s History</h1>
        <table class="table">
            <thead class="thead-dark">
                <thead><div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="form1" class="form-control" />
                        <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary" style = "height: 40px; ">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>    
                </thead>
                <tr  style ="font-weight: bold; font-size:100%">
                    <td>Prescription</td>   
                    <td>Date</td>  
                </tr>
            </thead>
            <tbody>
                {% for prescription in prescription %}
                    <tr>
                        <td>{{prescription.prescription}}</td>
                        <td>{{prescription.date}}</td>
                        
                        <td><a href="{% url 'doctor-prescription-delete' patient.id patient.name prescription.id%}" class="btn btn-dark">Delete</a></td>

                    </tr>
                    
                {% empty %}
                    No prescriptions yet.
                {% endfor %}
            </tbody>    
        </table>    
    </div><br>
    </div>
    </div>
    
     {% comment %} {% else %}
         You are not Logged in..Please Try Logging in again
    {% endif %}  {% endcomment %}

    <script src="{% static 'doctor/js/jquery.min.js' %}"></script>
    <script src="{% static 'doctor/js/main.js' %}"></script>
</body>
</html>