
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View doctors</title>
    <link href="{% static 'doctor/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/viewevent.css' %}">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/card.css' %}">
</head>
<body>
      {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: black">
			<a class="navbar-brand" href="">
        <img src="{% static 'doctor/virus.png'%}" style = " width: 50px; height: auto;"> COVID-X 
      </a>

			<ul class="navbar-nav">
            <a href="" class="nav-link">Are You a Reception?</a>
			</ul>
		</nav>
	</header>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo" >User</a></h1>
         <ul class="list-unstyled components mb-5">

          <li>
              <a href="../recept/dashboard"><span class="fa fa-user mr-3"></span> Dashboard</a>
          </li>
          <li>
            <a href="../recept/add_pat"><span class="fa fa-plus mr-3"></span> Add Patients</a>
          </li>
          <li>
            <a href="../recept/view_pat"><span class="fa fa-book mr-3"></span> View Patient</a>
          </li>
          <li>
            <a href="../recept/add_doc"><span class="fa fa-plus mr-3"></span> Add Doctor</a>
          </li>
          <li class="active">
            <a href="../recept/view_doc"><span class="fa fa-book mr-3"></span> View Doctors</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-pencil-square-o mr-3"></span> Prescription </a>
          </li>
          <li>
              <a href=""><span class="fa fa-pencil-square-o mr-3"></span> Logout </a>
          </li>
        </ul>
    	</nav>
      <br>
    
      <div class="container mt-5">
        <table class="table">
            <thead><div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary" style = "height: 40px; ">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>    
            </thead>
            <thead class="thead-dark">
                <tr  style ="font-weight: bold; font-size:100%">
                    
                    <td>Doctor's ID</td> 
                    <td>Username</td>
                    <td>Name </td>  
                    <td>DOB</td>   
                    <td>Contact</td>  
                    <td>Email</td> 
                    <td>Address</td> 
                    <td>Speciality</td>
                    <td>Gender</td> 
                    <td>Blood Group</td> 
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctor %}
                    <tr>
                        <td style = "color:black">{{doctor.id}}</td>
                        <td>{{doctor.uname}}</td>
                        <td>{{doctor.name}}</td>
                        <td>{{doctor.dob}}</td>
                        <td>{{doctor.contact}}</td>
                        <td>{{doctor.email}}</td>
                        <td>{{doctor.address}}</td>
                        <td>{{doctor.speciaity}}</td>
                        <td>{{doctor.gender}}</td>
                        <td>{{doctor.blood}}</td>
  
                        <td><a href="../delete/{{doctor.id}}" class="btn btn-dark" onclick="return confirm('Are you sure to delete 
                        this data?')">Delete</a></td>
                        <td><a href="../eventdataform/{{doctor.id}}" class="btn btn-dark">Update</a></td>
                    </tr>
                    
                {% empty %}
                    There are no doctors.
                {% endfor %}
            </tbody>    
        </table>    
        <a href="add_doc" class="btn btn-primary" id="register">Register Doctor</a>
        <a href="../logout/" class="btn btn-secondary">Logout</a>
    </div><br>
    
     {% comment %} {% else %}
         You are not Logged in..<a href="../login">Click here</a> to Login
    {% endif %}  {% endcomment %}

    <script src="{% static 'doctor/js/jquery.min.js' %}"></script>
    <script src="{% static 'doctor/js/main.js' %}"></script>
</body>
</html>